@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;

    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    background-size: 400% 400%;
    animation: gradient 30s ease infinite; */
    background: url(../img/whitebg1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 5rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

form
{
    margin: auto auto;
    width: 42vw;
    height: fit-content;
}
.form-control
{
    width: 40vw;
}
#buttons-div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.buttons
{
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: all 0.25s !important;
}
.buttons:hover
{
    transform: scale(1.2);
    /* transition: all 0.25s; */
}
h6{
    margin: auto auto;
    width: fit-content;
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}
h1,h3{
    margin: auto auto;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#signupbtn
{
    width: 20vw;
    width: fit-content;
    margin: auto auto;
}
.signup
{
    width: 15vw;
}
#row1cpi
{
    width: inherit;
    margin: auto auto;
    margin-bottom: 1rem;
}
#row2cpi
{
    width: inherit;
    margin: auto auto;
}
#welcome
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
}