<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/devs.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Sign in - Faculty</title>
</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder" style="position: fixed; top: 0; width: 100vw; height: fit-content; z-index: 99999 !important;"></div>

    <script>
        $(function () {
            $("#nav-placeholder").load("{{url_for('nav')}}");
        });
    </script>
    <!--end of Navigation bar-->

    <div id="content">
        <div class="container my-5">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style="height: 70vh;">
                <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                    <h1 class="display-4 fw-bold lh-1" style="margin-bottom: 2rem;">ABHISHEK DIXIT, <br> SAKSHAM AGRAWAL</h1>
                    <p class="lead">You can find Abhishek on - <a target="_blank" href="https://www.linkedin.com/in/abhishekdixit2000/">LinkedIn | </a><a target="_blank" href="https://github.com/Abhishek-Cypher">GitHub | </a><a target="_blank" href="mailto:22m0761@iitb.ac.in">Mail</a></p>
                    <p class="lead">You can find Saksham on - <a target="_blank" href="https://www.linkedin.com/in/saksham-agrawal-478b2a19a/">LinkedIn | </a><a target="_blank" href="https://github.com/saksham1605">GitHub | </a><a target="_blank" href="mailto:22m2106@iitb.ac.in">Mail</a></p>
                </div>
                <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden" style="margin: auto auto;">
                    <img class="rounded-lg-3" src="../static/img/devs.jpg" alt="" width="100%" height="100%" style="border-radius: 20px;"> 
                </div>
            </div>
        </div>
    </div>

</body>