<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/signinfac.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Sign in - Faculty</title>
</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder"
        style="position: fixed; top: 0; width: 100vw; height: fit-content; z-index: 99999 !important;"></div>

    <script>
        $(function () {
            $("#nav-placeholder").load("{{url_for('nav')}}");
        });
    </script>
    <!--end of Navigation bar-->

    <form action="{{url_for('loginFaculty')}}" method="post">
        <h1 style="margin-bottom: 2rem;" id="welcome">Welcome Faculty !</h1>

        {% if message == "Username/Password Incorrect" %}
        <h4 style="margin: auto auto; margin-bottom: 2rem; width: fit-content; color: red;">{{message}}</h4>
        {% elif message == "Account created. Now you can Login" %}
        <h4 style="margin: auto auto; margin-bottom: 2rem; width: fit-content; color: green;">{{message}}</h4>
        {% elif message == "Password too weak! Cannot create account" %}
        <h4 style="margin: auto auto; margin-bottom: 2rem; width: fit-content; color: orange;">{{message}}</h4>
        {% elif message == "A new password has been sent to your email ID" %}
        <h4 style="margin: auto auto; margin-bottom: 2rem; width: fit-content; color: blue;">{{message}}</h4>
        {% elif message == "Some error occured!" %}
        <h4 style="margin: auto auto; margin-bottom: 2rem; width: fit-content; color: blue;">{{message}}</h4>
        {% endif %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter your IITB LDAP email ID</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" required
                pattern=".+@iitb.ac.in"
                oninvalid="this.setCustomValidity('Only IITB LDAP email ID can be used for login')"
                oninput="this.setCustomValidity('')" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Enter your Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1"
                required>
            <a style="color: black;" href="{{url_for('forget',role=1)}}">Forgot Password?</a>
        </div>
        <div id="buttons-div">
            <button type="submit" class="btn btn-outline-success buttons">Submit</button>
            <button type="reset" class="btn btn-outline-danger buttons">Reset</button>
        </div>
        <h6>New to MY PG ? Tap below to create an account</h6>
        <div id="signupbtn">
            <a href="{{url_for('signupFaculty')}}" class="btn btn-outline-dark buttons signup">Sign Up</a>
        </div>
    </form>
</body>

</html>