<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/signupstud.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Sign Up - Student</title>
</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder" style="position: fixed; top: 0; width: 100vw; height: fit-content; z-index: 99999 !important;"></div>

    <script>
        $(function () {
            $("#nav-placeholder").load("{{url_for('nav')}}");
        });
    </script>
    <!--end of Navigation bar-->

    <form action="{{url_for('signupS')}}" method="post">
        <h1 id="welcome">Hello Student !</h1>
        <h3 style="margin-bottom: 2rem;">Become a member of MY PG now !</h3>
        <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Enter your Name</label>
            <input name="name" class="form-control" type="text" aria-label="default input example" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputDept1" class="form-label">Select your Academic Division</label>
            <div class="input-group mb-3">
                <select name="academicdivision" class="form-select" id="inputGroupSelect02" required>
                    <option disabled selected>-- Departments --</option>
                    <option value="Aerospace Engineering">Aerospace Engineering</option>
                    <option value="Biosciences and Bioengineering">Biosciences and Bioengineering</option>
                    <option value="Chemical Engineering">Chemical Engineering</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="Computer Science & Engineering">Computer Science & Engineering</option>
                    <option value="Earth Sciences">Earth Sciences</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                    <option value="Energy Science and Engineering">Energy Science and Engineering</option>
                    <option value="Environmental Science and Engineering (ESED)">Environmental Science and Engineering (ESED)</option>
                    <option value="Humanities & Social Sciences">Humanities & Social Sciences</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Metallurgical Engineering & Materials Science">Metallurgical Engineering & Materials Science</option>
                    <option value="Physics">Physics</option>
                    <option disabled>-- Schools --</option>
                    <option value="Desai Sethi School of Entrepreneurship (DSSE)">Desai Sethi School of Entrepreneurship (DSSE)</option>
                    <option value="IDC School of Design (IDC SoD)">IDC School of Design (IDC SoD)</option>
                    <option value="Shailesh J. Mehta School of Management (SJMSoM)">Shailesh J. Mehta School of Management (SJMSoM)</option>
                    <option disabled>-- Interdisciplinary Programs --</option>
                    <option value="Climate Studies">Climate Studies</option>
                    <option value="Educational Technology">Educational Technology</option>
                    <option value="Industrial Engineering and Operations Research (IEOR)">Industrial Engineering and Operations Research (IEOR)</option>
                    <option value="Systems and Control Engineering">Systems and Control Engineering</option>
                </select>
            </div>
        </div>

        <div class="row mb-3" id="cpi">
            <label for="examplecpiInput1" class="form-label">Enter your CPI below (leave empty if Not
                Applicable)</label>
            <div class="row" id="row1cpi">
                <div class="col">
                    <input type="number" step="0.01" name="sem1" max="10" class="form-control" placeholder="Sem 1" aria-label="Sem 1">
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="sem2" max="10" class="form-control" placeholder="Sem 2" aria-label="Sem 2">
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="sem3" max="10" class="form-control" placeholder="Sem 3" aria-label="Sem 3">
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="sem4" max="10" class="form-control" placeholder="Sem 4" aria-label="Sem 4">
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="sem5" max="10" class="form-control" placeholder="Sem 5" aria-label="Sem 5">
                </div>
            </div>
            <div class="row" id="row2cpi">
                <div class="col">
                    <input type="number" step="0.01" name="sem6" max="10" class="form-control" placeholder="Sem 6" aria-label="Sem 6">
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="sem7" max="10" class="form-control" placeholder="Sem 7" aria-label="Sem 7">
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="sem8" max="10" class="form-control" placeholder="Sem 8" aria-label="Sem 8">
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="sem9" max="10" class="form-control" placeholder="Sem 9" aria-label="Sem 9">
                </div>
                <div class="col">
                    <input type="number" step="0.01" name="sem10" max="10" class="form-control" placeholder="Sem 10" aria-label="Sem 10">
                </div>
            </div>
        </div>

        <div class="mb-3" id="skillsdiv">
            <label for="exampleInputskills1" class="form-label">Enter your Skills seperated by commas</label>
            <input type="text" class="form-control" name="skills" id="exampleInputskills1" aria-describedby="skills">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter your IITB LDAP email ID</label>
            <input type="email" class="form-control" name="exampleInputEmail1" id="exampleInputEmail1" pattern=".+@iitb.ac.in"
                oninvalid="this.setCustomValidity('Only IITB LDAP email ID can be used for login')"
                oninput="this.setCustomValidity('')" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Create a Password</label>
            <input type="password" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
            oninvalid="this.setCustomValidity('Password must contain - At least 1 Uppercase, At least 1 Lowercase, At least 1 Number, At least 1 Symbol, Minimum 8 characters')"
            oninput="this.setCustomValidity('')">
        </div>
        
        <div id="buttons-div">
            <button type="submit" class="btn btn-outline-success buttons">Submit</button>
            <button type="reset" class="btn btn-outline-danger buttons">Reset</button>
        </div>
    </form>
</body>

</html>