<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/signupstud.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Sign Up - Student</title>
</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder" style="position: fixed; top: 0%; width: 100vw; height: fit-content;"></div>

    <script>
        $(function () {
            $("#nav-placeholder").load("nav.html");
        });
    </script>
    <!--end of Navigation bar-->

    <form>
        <h1 id="welcome">Hello Student !</h1>
        <h3 style="margin-bottom: 2rem;">Become a member of MY PG now !</h3>
        <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Enter your Name</label>
            <input class="form-control" type="text" aria-label="default input example" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputDept1" class="form-label">Select your Academic Division</label>
            <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect02" required>
                    <option disabled selected>-- Departments --</option>
                    <option value="1">Aerospace Engineering</option>
                    <option value="2">Biosciences and Bioengineering</option>
                    <option value="3">Chemical Engineering</option>
                    <option value="4">Chemistry</option>
                    <option value="5">Civil Engineering</option>
                    <option value="6">Computer Science & Engineering</option>
                    <option value="7">Earth Sciences</option>
                    <option value="8">Electrical Engineering</option>
                    <option value="9">Energy Science and Engineering</option>
                    <option value="10">Environmental Science and Engineering (ESED)</option>
                    <option value="11">Humanities & Social Sciences</option>
                    <option value="12">Mathematics</option>
                    <option value="13">Mechanical Engineering</option>
                    <option value="14">Metallurgical Engineering & Materials Science</option>
                    <option value="15">Physics</option>
                    <option disabled>-- Schools --</option>
                    <option value="16">Desai Sethi School of Entrepreneurship (DSSE)</option>
                    <option value="17">IDC School of Design (IDC SoD)</option>
                    <option value="18">Shailesh J. Mehta School of Management (SJMSoM)</option>
                    <option disabled>-- Interdisciplinary Programs --</option>
                    <option value="19">Climate Studies</option>
                    <option value="20">Educational Technology</option>
                    <option value="21">Industrial Engineering and Operations Research (IEOR)</option>
                    <option value="22">Systems and Control Engineering</option>
                </select>
            </div>
        </div>

        <div class="row mb-3" id="cpi">
            <label for="examplecpiInput1" class="form-label">Enter your CPI below (leave empty if Not
                Applicable)</label>
            <div class="row" id="row1cpi">
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 1" aria-label="Sem 1">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 2" aria-label="Sem 2">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 3" aria-label="Sem 3">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 4" aria-label="Sem 4">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 5" aria-label="Sem 5">
                </div>
            </div>
            <div class="row" id="row2cpi">
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 6" aria-label="Sem 6">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 7" aria-label="Sem 7">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 8" aria-label="Sem 8">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 9" aria-label="Sem 9">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Sem 10" aria-label="Sem 10">
                </div>
            </div>
        </div>

        <div class="mb-3" id="skillsdiv">
            <label for="exampleInputskills1" class="form-label">Enter your Skills seperated by commas</label>
            <input type="text" class="form-control" id="exampleInputskills1" aria-describedby="skills">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter your IITB LDAP email ID</label>
            <input type="email" class="form-control" id="exampleInputEmail1" pattern=".+@iitb.ac.in"
                oninvalid="this.setCustomValidity('Only IITB LDAP email ID can be used for login')"
                oninput="this.setCustomValidity('')" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Create a Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <div id="buttons-div">
            <button type="submit" class="btn btn-outline-light buttons">Submit</button>
            <button type="reset" class="btn btn-outline-dark buttons">Reset</button>
        </div>
    </form>
</body>

</html>